<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.min.css'%}"> 
  
    <title>UserCreationForm</title>
</head>
<body>
    <div class="container  mt-4">
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% for fm in form %}

        {{fm.label_tag }} {{fm}} {{fm.errors|striptags}} <br><br>

        {% endfor %}  
        <input type="submit" class="btn btn-primary" value="Submit">
        <a href="{% url 'login' %}"class="btn btn-primary">Log In</a>
    </form>
    </div>
    {% if messages %}
    {% for message in messages %}

    <h2> {{message}} </h2>
    
    {% endfor %}
    {% endif %}
    <script src="{% static 'enroll/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'enroll/js/proper.js'%}"></script>
    <script src="{% static 'enroll/js/jquery.js'%}"></script>
</body>
</html>